.input-field {
  @apply px-4 py-3 w-full text-gray-700  rounded-lg shadow-sm focus:ring-2 focus:ring-[#c2a9c1] outline-none;
}

.file-input {
  @apply px-4 py-2 w-full text-gray-500  rounded-lg shadow-sm focus:ring-2 focus:ring-[#c2a9c1];
}

input:-webkit-autofill {
  background-color: #d1d1d1 !important;
  -webkit-box-shadow: 0 0 0px 1000px #f6f2f2 inset !important;
  -webkit-text-fill-color: #444 !important;
}